.photo-grid__list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 16px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1124px) {
  .photo-grid__list {
    gap: 14px;
  }
}

@media screen and (max-width: 984px) {
   .photo-grid__list {
    gap: 16px;
  }
}

@media screen and (max-width: 568px) {
  .photo-grid__list {
    gap: 12px;
  }
}
