.footer__links {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 18px auto 18px auto 18px auto 18px auto;
  grid-template-columns: repeat(5, auto);
  gap: 18px;
  margin: 0;
  padding-left: 0;
}

@media screen and (max-width: 568px) {
  .footer__links {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 32px 1fr 32px 1fr 32px 1fr 32px 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 32px;
  }
}
