.footer__links {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 32px 1fr 32px 1fr 32px 1fr 32px 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 32px;
}
.footer__links > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.footer__links > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.footer__links > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.footer__links > *:nth-child(4) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.footer__links > *:nth-child(5) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}
