.lead__image {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  margin: 64px auto 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 148px;
}

@media screen and (max-width: 1124px) {
  .lead__image {
    margin-top: 56px;
    padding: 0 48px;
  }
}
@media screen and (max-width: 984px) {
  .lead__image {
    padding: 0;
  }
}
@media screen and (max-width: 568px) {
  .lead__image {
    margin-top: 40px;
  }
}
