.header__lang-links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  column-gap: 18px;
  padding-left: 0;
  margin: 18px 0 6px;
}

@media screen and (max-width: 568px) {
  .header__lang-links {
    margin: 14px 0 8px;
  }
}
