.cover__item {
  color: #FFF;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 740px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  background-image: url('../image/cover-trains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1124px) {
  .cover__item {
    min-height: 640px;
  }
}

@media screen and (max-width: 984px) {
  .cover__item {
    min-height: 480px;
  }
}

@media screen and (max-width: 568px) {
  .cover__item {
    min-height: 200px;
  }
}

.cover__item::before {
  content: '';
  background: #2A2C2F;
  opacity: .3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.cover__item:hover::before {
  opacity: .8;
}
